<nav id="sidebar">
        <div class="sidebar-header"><img class="effect-shine" src="/media/img/logo-symbol-purple-white.svg" width="125" style="max-width:100%;width:150px"/></div>
        <ul class="list-unstyled components">
          <li></li><a class="effect-shine" href="/strategic-framework/" aria-expanded="false">Strategic Framework</a>
          <li></li><a class="effect-shine" href="/about-oakwave-marketing-and-strategy/" aria-expanded="false">About OAKwave</a>
          <li></li><a class="effect-shine" href="/thank-you/" aria-expanded="false">Thank you!</a>
          <p>Dummy Heading</p>
          <li class="active"></li>
          <li></li><a href="#">About</a>
          <li></li><a class="dropdown-toggle" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li></li><a href="#">Page 1</a>
            <li></li><a href="#">Page 2</a>
            <li></li><a href="#">Page 3</a>
          </ul>
          <li></li><a href="#">Portfolio</a>
          <li></li><a href="#">Contact</a>
        </ul>
        <div id="content"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class="container-fluid"></div>
          <button class="btn btn-info" id="sidebarCollapse" type="neubtn"><i class="fas fa-align-left"></i><span>Toggle Sidebar</span></button>
        </nav>
        <script src="media/mcustomscrollbar.js"></script>
      </nav>